#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  margin: 40px auto;
  background: #f4f4f4;
  border-radius: 0.5em;
}

h1 {
  text-align: center;
}

h3 {
  color: black;
}

p {
  color: black;
}

button {
  background-color: #007200;
  color: white;
}

button:hover {
  background-color: rgb(3, 145, 3);
  transition: 0.7s;
}

.result-card {
  background-color: #f4f4f4;
  padding: 2em;
  margin-top: 16px;
  border-radius: 0.5em;
}

h2 {
  color: black;
}